     .ui.grid>* {
      padding: 0.5rem;
      }
      .ui.grid.container {
      width: 100%!important;
      }
     .ui.segment, .ui.segments .segment {
      font-size: 0.8rem;
     }

     .right.icon.menu{
     margin-left: 0 !important;
     width: 100%;
     align-items: center;
     justify-content: center;
     color: white;
     text-align: center;
     }

    .helpbtn{
     align-items: right;
     justify-content: right;
     text-align: center;
   }
    .ui.orange.label , .ui.blue.label,.ui.violet.label,.ui.green.label,.ui.purple.label {
     padding: .5rem 1rem;
    }
.ui.grid > * {
    padding: 0.1em;
    width: 100%!important;
}

ui.tab.active, .ui.tab.open {
    display: block;
    width: 100%!important;
}
.ui.tab {
    display: none;
    width:100%!important;
}
